:root {

    --color-grad-1: hsl(273, 75%, 66%);
    --color-grad-2: hsl(240, 73%, 65%);
    --color-card: #ffffff;
    --divider: hsl(240, 5%, 91%);
    --answer: hsl(240, 6%, 50%);
    --question-closed: hsl(237, 12%, 33%);
    --heading: hsl(238, 29%, 16%);

}



body {

    background-image: linear-gradient(var(--color-grad-1), var(--color-grad-2));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0px;
    min-height: 977px;  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

img {

    height: 100%;
    width: 100%;
 
}

main {
    
    width: 325px;
    margin: 0 auto;
    position: relative;
    padding-top: 145px;

}

@media only screen and (min-width: 1000px) {

    main {

        box-sizing: border-box;
        padding-top: 128px;
        padding-left: 42px;
        width: 920px;        

    }
   
}

figure {
    
    height: 180px;
    width: 238px;    
    margin: 0 auto; 
    position: absolute;
    left: 43.5px;    
    z-index: 2;
    bottom: 460px;
    top: 38px;

}

.desktop {

    display: none;
    
}

@media only screen and (min-width: 1000px) {

    figure {

        display: none;

    }

    .desktop {

        display: block;

    }
   
}

.shadow {

    width: 240px;
    margin-top: 0;
    height: 104px;
    top: 143px;
    bottom: 430px;
    position: absolute;
    left: 42.5px;

}

.questions {

    background-color: var(--color-card);
    border-radius: 25px;
    padding: 132px 22px 50px 22px;  
    bottom: 174px;
    z-index: 0;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgb(99, 68, 188);
    width: 100%;
    margin: 0 auto;    
    
}


h2 {

    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin: 0 0 14px;
    color: var(--heading);

}


@media only screen and (min-width: 1000px) {

    .questions {

        display: flex;
        padding: 0;
        position: relative;
        bottom: 0px;

    }

    h2 {

        text-align: start;
        margin-bottom: 20px;
    }

}

.one-question {

    border-bottom: 1px solid var(--divider);
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
    cursor: pointer;    
    box-sizing: border-box; 

}

.one-question p {

    margin-bottom: 0; 
    margin-top: 10px;   
    width: 270px;
    color: var(--answer);
    line-height: 1.5;

}

h3 {

    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    width: 270px;
    color: var(--heading);

}

button {

    border-style: none;
    background-image: url('images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    height: 12px;
    cursor: pointer;

}

@media only screen and (min-width: 1000px) {

    button {

        margin-right: 12px;

    }

}

.closed h3 {

    font-weight: 400;
    color: var(--question-closed);

}

.opened button {

    transform: rotate(180deg);

}

.closed p {

    display: none;

}

footer {
    
    bottom: 40px;
    display: block;
    flex-direction: column;
    justify-content: center;

}

footer p {

    margin: 33px 0;

}

@media only screen and (min-width: 1000px) {

    footer p {

        margin: 57px 0;

    }

}

section.big-image {
    
    width: 390px;
    position: relative;
    overflow: hidden;
    display: none;
}

.desktPitanja {

    padding-bottom: 0;

}

@media only screen and (min-width: 1000px) {

    section.big-image {

        display: block;
        margin-right: 85px;

    }

    #pitanja {

        width: 352px;

    }

    .desktPitanja {

        margin-top: 66px;
        padding-bottom: 85px;

    }
}

.woman {

    width: 472px;
    height: 359px;
    right: 2px;
    left: auto;
    top: 67px;  

}

.pattern {

    width: 966px;
    height: 945px;
    left: auto;
    right: 0px;
    bottom: -138px; 
    top: -300px;

}

.cube {

    top: 202px;
    left: -93px;
    width: 191px;
    height: 184px;
    
}



